if hexo-config('css_prefix')
  @import 'nib'

@import '_third-party/normalize.min.css'
// project
@import 'var'
@import '_global/*'
@import '_highlight/highlight'
@import '_page/*'
@import '_layout/*'
@import '_tags/*'
@import '_mode/*'

// search
@import '_search/index'
/* 背景宇宙星光  */

[data-theme='dark'] #universe{
	  display: block;
	  position: fixed;
	  margin: 0;
	  padding: 0;
	  border: 0;
	  outline: 0;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  pointer-events: none;
	  z-index: 9998;
	}
	
	
	 /* 亮色模式下隐藏 */
[data-theme='light'] #universe {
      display: none;
 }
